# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import nltk

# Dataset

In [10]:
#import os
#os.rename('Tourism-2_Hindi.xls', 'Tourism-2_Hindi.csv')
df=pd.read_csv('C:/Users/Amit/Downloads/Tourism-2_Hindi.csv')
df.head()

,English Sentences,Hindi Reference Sentences
0,There is a palace on either side of which it h...,दोनों ओर वहां एक महल है जो अपने में एक लहरदार ...
1,"When water is made to flow into the ceiling, t...","जब पानी छत बहने को बनता है, ये वृत्त एक दूसरे ..."
2,Atithi Devo Bhava' are the words that can equ...,‘अतिथि देवो भवः’ शब्द जो एक व्यक्ति की भगवान क...
3,Bhutte ki Kees' is made of corn and milk and ...,‘भुट्टे की कीस’ मक्का और दूध से बनता है और ‘चक...
4,"Khajuraho is the nearest airport available, fr...","खुजराहो उपलब्ध सबसे समीप का हवाईअड्डा है, जहां..."

In [11]:
df.shape

(100, 2)

In [12]:
df=df.iloc[:10,-1]

In [13]:
df

0    दोनों ओर वहां एक महल है जो अपने में एक लहरदार ...
1    जब पानी छत बहने को बनता है, ये वृत्त एक दूसरे ...
2    ‘अतिथि देवो भवः’ शब्द जो एक व्यक्ति की भगवान क...
3    ‘भुट्टे की कीस’ मक्का और दूध से बनता है और ‘चक...
4    खुजराहो उपलब्ध सबसे समीप का हवाईअड्डा है, जहां...
5    आम्बेर महल से एक घुमावदार सड़क एक ऐसे ही उदाहर...
6    अक्षरधाम, हाल ही का, विश्व में सबसे विशाल मंदि...
7    श्री ब्राउन का अपेण्डिक्स अस्पताल में निकाल गय...
8    बैगाज गोण्ड जनजाति की उप-जनजाति है जो पुरोहित ...
9    बांस और साल के जंगल कहीं भी नहीं है जो पचमढ़ी ...
Name: Hindi Reference Sentences, dtype: object

# Tokenize sentences

In [14]:
from nltk.tokenize import WhitespaceTokenizer 
     
# Create a reference variable for Class WhitespaceTokenizer 
tk = WhitespaceTokenizer() 
for i in df:
    print(tk.tokenize(i))

['दोनों', 'ओर', 'वहां', 'एक', 'महल', 'है', 'जो', 'अपने', 'में', 'एक', 'लहरदार', 'लोहे', 'की', 'वृत्तों', 'के', 'साथ', 'एक', 'खोखली', 'छत', 'रखता', 'है।']
['जब', 'पानी', 'छत', 'बहने', 'को', 'बनता', 'है,', 'ये', 'वृत्त', 'एक', 'दूसरे', 'के', 'साथ', 'टकराते', 'हैं', 'और', 'बरसने', 'वाले', 'बादलों', 'की', 'एक', 'मंत्रुग्ध', 'करने', 'वाली', 'ध्वनि', 'पैदा', 'करते', 'हैं।']
['‘अतिथि', 'देवो', 'भवः’', 'शब्द', 'जो', 'एक', 'व्यक्ति', 'की', 'भगवान', 'के', 'साथ', 'तुलना', 'करवा', 'सकते', 'हैं।']
['‘भुट्टे', 'की', 'कीस’', 'मक्का', 'और', 'दूध', 'से', 'बनता', 'है', 'और', '‘चक्की', 'की', 'शाख’', 'गर्म', 'गूंथे', 'हुए', 'आटे', 'से', 'बनता', 'है', 'जो', 'भाप', 'से', 'पका', 'है', 'और', 'दही', 'के', 'साथ', 'प्रयोग', 'होता', 'है।']
['खुजराहो', 'उपलब्ध', 'सबसे', 'समीप', 'का', 'हवाईअड्डा', 'है,', 'जहां', 'से', 'केन', 'नदी', 'और', 'पन्ना', 'कस्बे', 'के', 'माध्यम', 'से', 'बांधवगढ़', 'उद्यान', 'एक', 'पांच', 'घंटे', 'की', 'चालन', '(273', 'किमी)', 'पर', 'है।']
['आम्बेर', 'महल', 'से', 'एक', 'घुमावदार', 'सड़क', 'एक', 'ऐसे', 'ही', 'उदाहरण', 'की', 'ओर', 'ले', 'जाती', 'है,', 'जयगढ़', 'या', 'विजय', 'किला,', 'जो', 'कंटिली', 'पहाड़ियों', 'के', 'बीच', 'में', 'खड़ा', 'है', 'जो', 'पहले', 'से', 'ही', 'डरावने', 'किल', 'के', 'लिए', 'एक', 'सख्त', 'दृश्य', 'छोड़ता', 'है।']
['अक्षरधाम,', 'हाल', 'ही', 'का,', 'विश्व', 'में', 'सबसे', 'विशाल', 'मंदिर', 'परिसर', 'बनकर,', 'गीनिज', 'रिकोर्ड', 'बुक', 'में', 'प्रकटित', 'होकर', 'चर्चा', 'में', 'आ', 'चुका', 'है।']
['श्री', 'ब्राउन', 'का', 'अपेण्डिक्स', 'अस्पताल', 'में', 'निकाल', 'गया', 'था।']
['बैगाज', 'गोण्ड', 'जनजाति', 'की', 'उप-जनजाति', 'है', 'जो', 'पुरोहित', 'का', 'काम', 'करने', 'में', 'विशेषज्ञ', 'है।']
['बांस', 'और', 'साल', 'के', 'जंगल', 'कहीं', 'भी', 'नहीं', 'है', 'जो', 'पचमढ़ी', 'प्रदान', 'करता', 'है।']

In [15]:
from nltk.tokenize import WordPunctTokenizer 
     
# Create a reference variable for Class WordPunctTokenizer 
tk = WordPunctTokenizer()
for i in df:
    print(tk.tokenize(i))

['द', 'ो', 'न', 'ों', 'ओर', 'वह', 'ां', 'एक', 'महल', 'ह', 'ै', 'ज', 'ो', 'अपन', 'े', 'म', 'ें', 'एक', 'लहरद', 'ा', 'र', 'ल', 'ो', 'ह', 'े', 'क', 'ी', 'व', 'ृ', 'त', '्', 'त', 'ों', 'क', 'े', 'स', 'ा', 'थ', 'एक', 'ख', 'ो', 'खल', 'ी', 'छत', 'रखत', 'ा', 'ह', 'ै।']
['जब', 'प', 'ा', 'न', 'ी', 'छत', 'बहन', 'े', 'क', 'ो', 'बनत', 'ा', 'ह', 'ै,', 'य', 'े', 'व', 'ृ', 'त', '्', 'त', 'एक', 'द', 'ू', 'सर', 'े', 'क', 'े', 'स', 'ा', 'थ', 'टकर', 'ा', 'त', 'े', 'ह', 'ैं', 'और', 'बरसन', 'े', 'व', 'ा', 'ल', 'े', 'ब', 'ा', 'दल', 'ों', 'क', 'ी', 'एक', 'म', 'ं', 'त', '्', 'र', 'ु', 'ग', '्', 'ध', 'करन', 'े', 'व', 'ा', 'ल', 'ी', 'ध', '्', 'वन', 'ि', 'प', 'ै', 'द', 'ा', 'करत', 'े', 'ह', 'ैं।']
['‘', 'अत', 'ि', 'थ', 'ि', 'द', 'े', 'व', 'ो', 'भव', 'ः’', 'शब', '्', 'द', 'ज', 'ो', 'एक', 'व', '्', 'यक', '्', 'त', 'ि', 'क', 'ी', 'भगव', 'ा', 'न', 'क', 'े', 'स', 'ा', 'थ', 'त', 'ु', 'लन', 'ा', 'करव', 'ा', 'सकत', 'े', 'ह', 'ैं।']
['‘', 'भ', 'ु', 'ट', '्', 'ट', 'े', 'क', 'ी', 'क', 'ी', 'स', '’', 'मक', '्', 'क', 'ा', 'और', 'द', 'ू', 'ध', 'स', 'े', 'बनत', 'ा', 'ह', 'ै', 'और', '‘', 'चक', '्', 'क', 'ी', 'क', 'ी', 'श', 'ा', 'ख', '’', 'गर', '्', 'म', 'ग', 'ूं', 'थ', 'े', 'ह', 'ु', 'ए', 'आट', 'े', 'स', 'े', 'बनत', 'ा', 'ह', 'ै', 'ज', 'ो', 'भ', 'ा', 'प', 'स', 'े', 'पक', 'ा', 'ह', 'ै', 'और', 'दह', 'ी', 'क', 'े', 'स', 'ा', 'थ', 'प', '्', 'रय', 'ो', 'ग', 'ह', 'ो', 'त', 'ा', 'ह', 'ै।']
['ख', 'ु', 'जर', 'ा', 'ह', 'ो', 'उपलब', '्', 'ध', 'सबस', 'े', 'सम', 'ी', 'प', 'क', 'ा', 'हव', 'ा', 'ईअड', '्', 'ड', 'ा', 'ह', 'ै,', 'जह', 'ां', 'स', 'े', 'क', 'े', 'न', 'नद', 'ी', 'और', 'पन', '्', 'न', 'ा', 'कस', '्', 'ब', 'े', 'क', 'े', 'म', 'ा', 'ध', '्', 'यम', 'स', 'े', 'ब', 'ां', 'धवगढ', '़', 'उद', '्', 'य', 'ा', 'न', 'एक', 'प', 'ां', 'च', 'घ', 'ं', 'ट', 'े', 'क', 'ी', 'च', 'ा', 'लन', '(', '273', 'क', 'ि', 'म', 'ी)', 'पर', 'ह', 'ै।']
['आम', '्', 'ब', 'े', 'र', 'महल', 'स', 'े', 'एक', 'घ', 'ु', 'म', 'ा', 'वद', 'ा', 'र', 'सड', '़', 'क', 'एक', 'ऐस', 'े', 'ह', 'ी', 'उद', 'ा', 'हरण', 'क', 'ी', 'ओर', 'ल', 'े', 'ज', 'ा', 'त', 'ी', 'ह', 'ै,', 'जयगढ', '़', 'य', 'ा', 'व', 'ि', 'जय', 'क', 'ि', 'ल', 'ा,', 'ज', 'ो', 'क', 'ं', 'ट', 'ि', 'ल', 'ी', 'पह', 'ा', 'ड', '़ि', 'य', 'ों', 'क', 'े', 'ब', 'ी', 'च', 'म', 'ें', 'खड', '़ा', 'ह', 'ै', 'ज', 'ो', 'पहल', 'े', 'स', 'े', 'ह', 'ी', 'डर', 'ा', 'वन', 'े', 'क', 'ि', 'ल', 'क', 'े', 'ल', 'ि', 'ए', 'एक', 'सख', '्', 'त', 'द', 'ृ', 'श', '्', 'य', 'छ', 'ो', 'ड', '़', 'त', 'ा', 'ह', 'ै।']
['अक', '्', 'षरध', 'ा', 'म', ',', 'ह', 'ा', 'ल', 'ह', 'ी', 'क', 'ा,', 'व', 'ि', 'श', '्', 'व', 'म', 'ें', 'सबस', 'े', 'व', 'ि', 'श', 'ा', 'ल', 'म', 'ं', 'द', 'ि', 'र', 'पर', 'ि', 'सर', 'बनकर', ',', 'ग', 'ी', 'न', 'ि', 'ज', 'र', 'ि', 'क', 'ो', 'र', '्', 'ड', 'ब', 'ु', 'क', 'म', 'ें', 'प', '्', 'रकट', 'ि', 'त', 'ह', 'ो', 'कर', 'चर', '्', 'च', 'ा', 'म', 'ें', 'आ', 'च', 'ु', 'क', 'ा', 'ह', 'ै।']
['श', '्', 'र', 'ी', 'ब', '्', 'र', 'ा', 'उन', 'क', 'ा', 'अप', 'े', 'ण', '्', 'ड', 'ि', 'क', '्', 'स', 'अस', '्', 'पत', 'ा', 'ल', 'म', 'ें', 'न', 'ि', 'क', 'ा', 'ल', 'गय', 'ा', 'थ', 'ा।']
['ब', 'ै', 'ग', 'ा', 'ज', 'ग', 'ो', 'ण', '्', 'ड', 'जनज', 'ा', 'त', 'ि', 'क', 'ी', 'उप', '-', 'जनज', 'ा', 'त', 'ि', 'ह', 'ै', 'ज', 'ो', 'प', 'ु', 'र', 'ो', 'ह', 'ि', 'त', 'क', 'ा', 'क', 'ा', 'म', 'करन', 'े', 'म', 'ें', 'व', 'ि', 'श', 'े', 'षज', '्', 'ञ', 'ह', 'ै।']
['ब', 'ां', 'स', 'और', 'स', 'ा', 'ल', 'क', 'े', 'ज', 'ं', 'गल', 'कह', 'ीं', 'भ', 'ी', 'नह', 'ीं', 'ह', 'ै', 'ज', 'ो', 'पचमढ', '़ी', 'प', '्', 'रद', 'ा', 'न', 'करत', 'ा', 'ह', 'ै।']

In [16]:
from nltk.tokenize import TreebankWordTokenizer 
     
# Create a reference variable for Class WordPunctTokenizer 
tk = TreebankWordTokenizer()
for i in df:
    print(tk.tokenize(i))

['दोनों', 'ओर', 'वहां', 'एक', 'महल', 'है', 'जो', 'अपने', 'में', 'एक', 'लहरदार', 'लोहे', 'की', 'वृत्तों', 'के', 'साथ', 'एक', 'खोखली', 'छत', 'रखता', 'है।']
['जब', 'पानी', 'छत', 'बहने', 'को', 'बनता', 'है', ',', 'ये', 'वृत्त', 'एक', 'दूसरे', 'के', 'साथ', 'टकराते', 'हैं', 'और', 'बरसने', 'वाले', 'बादलों', 'की', 'एक', 'मंत्रुग्ध', 'करने', 'वाली', 'ध्वनि', 'पैदा', 'करते', 'हैं।']
['‘', 'अतिथि', 'देवो', 'भवः', '’', 'शब्द', 'जो', 'एक', 'व्यक्ति', 'की', 'भगवान', 'के', 'साथ', 'तुलना', 'करवा', 'सकते', 'हैं।']
['‘', 'भुट्टे', 'की', 'कीस', '’', 'मक्का', 'और', 'दूध', 'से', 'बनता', 'है', 'और', '‘', 'चक्की', 'की', 'शाख', '’', 'गर्म', 'गूंथे', 'हुए', 'आटे', 'से', 'बनता', 'है', 'जो', 'भाप', 'से', 'पका', 'है', 'और', 'दही', 'के', 'साथ', 'प्रयोग', 'होता', 'है।']
['खुजराहो', 'उपलब्ध', 'सबसे', 'समीप', 'का', 'हवाईअड्डा', 'है', ',', 'जहां', 'से', 'केन', 'नदी', 'और', 'पन्ना', 'कस्बे', 'के', 'माध्यम', 'से', 'बांधवगढ़', 'उद्यान', 'एक', 'पांच', 'घंटे', 'की', 'चालन', '(', '273', 'किमी', ')', 'पर', 'है।']
['आम्बेर', 'महल', 'से', 'एक', 'घुमावदार', 'सड़क', 'एक', 'ऐसे', 'ही', 'उदाहरण', 'की', 'ओर', 'ले', 'जाती', 'है', ',', 'जयगढ़', 'या', 'विजय', 'किला', ',', 'जो', 'कंटिली', 'पहाड़ियों', 'के', 'बीच', 'में', 'खड़ा', 'है', 'जो', 'पहले', 'से', 'ही', 'डरावने', 'किल', 'के', 'लिए', 'एक', 'सख्त', 'दृश्य', 'छोड़ता', 'है।']
['अक्षरधाम', ',', 'हाल', 'ही', 'का', ',', 'विश्व', 'में', 'सबसे', 'विशाल', 'मंदिर', 'परिसर', 'बनकर', ',', 'गीनिज', 'रिकोर्ड', 'बुक', 'में', 'प्रकटित', 'होकर', 'चर्चा', 'में', 'आ', 'चुका', 'है।']
['श्री', 'ब्राउन', 'का', 'अपेण्डिक्स', 'अस्पताल', 'में', 'निकाल', 'गया', 'था।']
['बैगाज', 'गोण्ड', 'जनजाति', 'की', 'उप-जनजाति', 'है', 'जो', 'पुरोहित', 'का', 'काम', 'करने', 'में', 'विशेषज्ञ', 'है।']
['बांस', 'और', 'साल', 'के', 'जंगल', 'कहीं', 'भी', 'नहीं', 'है', 'जो', 'पचमढ़ी', 'प्रदान', 'करता', 'है।']

# BOW Feature Extraction

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
X=cv.fit_transform(df)
df2=pd.DataFrame(X.toarray(),columns=cv.get_feature_names())
df2.head()

,273,अक,अत,अप,अपन,अस,आट,आम,ईअड,उद,...,षज,षरध,सकत,सख,सड,सबस,सम,सर,हरण,हव
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,1,1,0,0,1

# Tfidf Feature Extraction

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer
cv=TfidfVectorizer()
X=cv.fit_transform(df)
df2=pd.DataFrame(X.toarray(),columns=cv.get_feature_names())
df2.head()

,273,अक,अत,अप,अपन,अस,आट,आम,ईअड,उद,...,षज,षरध,सकत,सख,सड,सबस,सम,सर,हरण,हव
0,0.000000,0.0,0.000000,0.0,0.310962,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
1,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.254199,0.0,0.000000
2,0.000000,0.0,0.351902,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.351902,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
3,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.268941,0.0,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
4,0.252534,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.252534,0.214677,...,0.0,0.0,0.000000,0.0,0.0,0.214677,0.252534,0.000000,0.0,0.252534